In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_st = pd.DataFrame()
df_st['age'] = [14, 12, 11, 10, 8, 6, 8]
df_st.index = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']

In [4]:
df_st

        age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [5]:
# 1)
age_mu = np.mean(df_st['age'])
age_med = np.median(df_st['age'])
age_v= np.var(df_st['age'])
age_mode = 8
age_std = np.std(df_st['age'])
age_se = np.std(df_st['age'])/np.sqrt(6)

print(" mean: ",age_mu, " median: ", age_med, " variance: ", age_v, " mode: ", age_mode, " std: ", age_std, " se: ", age_se)

 mean:  9.857142857142858  median:  10.0  variance:  6.408163265306122  mode:  8  std:  2.531435020952764  se:  1.0334540197243194

In [6]:
# 2) 
# I will choose mean(9.85) to be the cintral tendency, since the whole list is short, the mean is representive enough
# Choose variance(6.4) to describe the variance, the number is larger and I feel it's more intuitively close to the fact

In [7]:
# 3) 
df_st.loc['Cindy'] = 7
age_mu = np.mean(df_st['age'])
age_med = np.median(df_st['age'])
age_v= np.var(df_st['age'])
age_mode = 8
age_std = np.std(df_st['age'])
age_se = np.std(df_st['age'])/np.sqrt(6)

print(" mean: ",age_mu, " median: ", age_med, " variance: ", age_v, " mode: ", age_mode, " std: ", age_std, " se: ", age_se)
# Mean equal to the median now, I can surely confrim that the central tendency is very close to 10
# all variances decrease, which will use variance to describe our the level of variance of our data

 mean:  10.0  median:  10.0  variance:  5.428571428571429  mode:  8  std:  2.32992949004287  se:  0.951189731211342

In [8]:
df_st = df_st.drop('Oliver')
df_st.loc['Jessica'] = 1
df_st

         age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [9]:
age_mu = np.mean(df_st['age'])
age_med = np.median(df_st['age'])
age_v= np.var(df_st['age'])
age_mode = 8
age_std = np.std(df_st['age'])
age_se = np.std(df_st['age'])/np.sqrt(6)

print(" mean: ",age_mu, " median: ", age_med, " variance: ", age_v, " mode: ", age_mode, " std: ", age_std, " se: ", age_se)

 mean:  9.0  median:  10.0  variance:  15.428571428571429  mode:  8  std:  3.927922024247863  se:  1.6035674514745466

In [10]:
# 4)
# Now I would use mode to be the central tendency, since we have a extreme low value in the list, choosing the most commen
# values in the list makes more sense then 9 or 10;
# for the variance, 15.4 is very representive since it shows the big range of our age list

In [11]:
# 5) Althought the mean of thses survey is 16.25%, I'm thinking it should be even lower since not everyone's willing 
# to participate into the survey. Also, surveys are pre-selected to readers, which is not random. 
np.mean([20,23,17,5])

16.25